h1 {
    grid-column: 1 / span 12;
    background-color: white;
    text-align: center;
}

img {
    width: 50%;
    margin: auto;
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    background-color:#8C031C;
    grid-auto-flow: dense;
    text-align: center;
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

body {
    font-family: "Reddit Mono", monospace;
    font-size:xx-large;
    font-weight:100;
    background-color:#c10628;
    margin: auto;
}

p {
    grid-column: 2 / span 10;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: 100;
}

li {
    margin: auto;
    text-align: center;
}

h3 {
    font-size: small;
    color: white;
}

#cam {
    grid-column: 3 / span 4;
    font-size: 12px;
}

#photo {
    grid-column: 5 / span 4;
}

#filter {
    grid-column: 7 / span 4;
    font-size: 12px;
}

#photobutton {
    grid-column: 8 / span 5;
    background-color:#8C031C;
    width: 45%;
}


#camerabutton {
    grid-column: 5 / span 4;
    background-color: #8C031C;
    border-color:#8C031C;
    width: 20%;
    margin: auto;
    margin-top: -16%;
}


#filterbutton {
    grid-column: 5 / span 3;
    background-color:#8C031C;
    width: 40%;
    height: 40%;
    margin-bottom: -20%;
}

#interface {
    grid-column: 5 / span 4;
    margin: auto;
    text-align: center;
}

#interfacetwo {
    grid-column: 5 / span 4;
    width: 1000px;
    margin: auto;
    text-align: center;
}

#one {
    grid-column: 1 / span 4;
    width: 350px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}
 #two {
    grid-column: 5 / span 4;
    width: 350px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#cars {
    grid-column: 9 / span 4;
    width: 350px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#halloween {
    grid-column: 1 / span 4;
    width: 350px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#dad {
    grid-column: 5 / span 4;
    width: 350px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#dress {
    grid-column: 9 / span 4;
    width: 250px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#camerahome {
    grid-column: 5 / span 4;
    width: 25%;
    margin: auto;
    margin-top: 5%;
}

video {
    width: 800px;
    border: 5px solid #333;
    border-radius: 10px;
    grid-column: 5 / span 4;
    margin: auto;
}

#videotwo {
    width: 750px;
    border: 5px solid #333;
    border-radius: 10px;
    grid-column: 5 / span 4;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

#onedesc {
    grid-column: 1 / span 4;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 12px;
    margin: 15%;
}

#twodesc {
    grid-column: 5 / span 4;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 12px;
    margin: 15%;
}

#cardesc {
    grid-column: 9 / span 4;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 12px;
    margin: 15%;
}

#one:hover {
    transform: scale(1.25);
}

#two:hover {
    transform: scale(1.25);
}

#cars:hover {
    transform: scale(1.25);
}

#halloween:hover {
    transform: scale(1.25);
}

#dad:hover {
    transform: scale(1.25);
}

#dress:hover {
    transform: scale(1.25);
}