h1 {
    grid-column: 1 / span 12;
}

img {
    width: 50%;
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    background-color: #8C031C;
    grid-auto-flow: dense;
    text-align: center;
    margin: auto;
}

body {
    font-family: "Reddit Mono", monospace;
    font-size:xx-large;
    font-weight:100;
}

p {
    grid-column: 2 / span 10;
}