h1 {
    grid-column: 1 / span 12;
    background-color: white;
    text-align: center;
}

img {
    width: 50%;
    margin: auto;
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    background-color: #8C031C;
    grid-auto-flow: dense;
    text-align: center;
    margin: auto;
}

body {
    font-family: "Reddit Mono", monospace;
    font-size:xx-large;
    font-weight:100;
    background-color:#8C031C;
    margin: auto;
}

p {
    grid-column: 2 / span 10;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: 100;
}

li {
    margin: auto;
    text-align: center;
}

h3 {
    font-size: small;
}

#cam {
    grid-column: 1 / span 4;
}

#photo {
    grid-column: 5 / span 4;
}

#filter {
    grid-column: 9 / span 4;
}

#photobutton {
    grid-column: 10 / span 4;
    width: 100px;
    height: 105px;
    background-color:#8C031C;
}

#camerabutton {
    grid-column: 5 / span 4;
    background-color: #8C031C;
    border-color:#8C031C;
}

#filterbutton {
    grid-column: 1 / span 4;
}

#interface {
    grid-column: 5 / span 4;
    margin: auto;
    text-align: center;
}